body {
  font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", "Meiryo", sans-serif;
}

.header {
  position: fixed;
  background-color: aquamarine;
  width: 100%;
  height: 96px;
  padding: 16px 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1000px) {
  .header {
    padding: 16px 96px;
  }
}
.header__logo img {
  width: 64px;
  height: 64px;
}
.header__menu {
  font-family: "Inria Serif";
  color: #333333;
}
.header__menu ul {
  display: flex;
  flex-direction: row;
}
.header__menu ul li {
  font-size: 24px;
}
.header__menu ul li + li {
  margin-left: 2.75vw;
}
.header__hamburger-menu {
  display: none;
}

.navigation {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}
.navigation .nav-menu {
  padding: 96px 32px;
}
.navigation .nav-menu h2 {
  font-size: 40px;
  font-family: "Inria Serif";
}
.navigation .nav-menu li + li {
  margin-top: 32px;
}

.footer {
  border-top: 1px solid #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__menu {
  width: 50vw;
  margin: 8px auto;
  font-size: 16px;
}
.footer__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #333333;
}
.footer__copyright small {
  color: #ffffff;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 32px;
  }
  .header__menu {
    display: none;
  }
  .header__hamburger-menu {
    display: flex;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 64px;
    height: 64px;
    border: 1.5px solid #333333;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .header__hamburger-menu__line {
    height: 1px;
    width: 30px;
    background-color: #333333;
    margin: 4px 10px;
    transition: all 0.3s;
    transform-origin: right;
  }
  .header__hamburger-menu > :nth-child(1) {
    width: 20px;
  }
  .header__hamburger-menu > :nth-child(2) {
    width: 30px;
  }
  .header__hamburger-menu > :nth-child(3) {
    width: 40px;
  }
  .header__hamburger-menu > :nth-child(1).active {
    transform: rotate(-20deg) translate(-3px, 1px);
    width: 40px;
  }
  .header__hamburger-menu > :nth-child(2).active {
    width: 0;
  }
  .header__hamburger-menu > :nth-child(3).active {
    transform: rotate(20deg) translate(-3px, -1px);
  }
  .header__hamburger-menu:hover {
    width: 68px;
    height: 68px;
    transform: translateX(3px);
  }
  .navigation.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .footer__menu {
    width: 80vw;
    margin: 8px auto;
  }
  .footer__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333333;
  }
  .footer__copyright small {
    color: #ffffff;
    margin: 0 auto;
  }
}
.main-visual {
  width: 100vw;
  height: 640px;
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-visual__title {
  margin: auto auto;
  text-align: center;
  font-family: "Inria Serif";
}
.main-visual__title h1 {
  font-size: 36px;
  margin-bottom: 16px;
}
.main-visual__title p {
  font-size: 24px;
}

.service {
  max-width: 1280px;
  margin: 0 auto 128px;
}

.title {
  text-align: center;
}
.title p {
  font-size: 16px;
  font-weight: bold;
}
.title h2 {
  font-size: 36px;
  padding-bottom: 8px;
  font-family: "Inria Serif";
}
.title div {
  height: 2px;
  width: 64px;
  background-color: #333333;
  margin: 0 auto;
}

.service-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
}
.service-plan__price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.service-plan__supplement {
  text-align: center;
}

.price-detail__price {
  text-align: center;
  margin-bottom: 32px;
}
.price-detail__price p {
  font-size: 16px;
  font-weight: bold;
}
.price-detail__price h3 {
  margin-top: 8px;
  font-size: 24px;
  font-weight: bold;
}
.price-detail__description {
  text-align: left;
  margin-bottom: 32px;
  line-height: 1.5rem;
}
.price-detail__quantity {
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.5rem;
}
.price-detail__reference-site {
  text-align: center;
  margin-bottom: 32px;
}
.price-detail__reference-site p {
  margin-bottom: 8px;
}
.price-detail__reference-site ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}/*# sourceMappingURL=styles.css.map */