//ヘッダー,ナビゲーション,フッター
@use '../var';

body {
    font-family:"Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", "Meiryo", sans-serif;
}

.header{
    position:fixed;
    background-color: aquamarine;
    width: 100%;
    height:var.$spacing-7;
    padding: var.$spacing-2 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition:all 0.3s ease-in-out;
    @media screen and (max-width:1000px) {
        padding: var.$spacing-2 var.$spacing-7;
    }
    &__logo{
        img{
            width: var.$spacing-6;
            height:var.$spacing-6;
        }
    }
    &__menu{
        font-family: "Inria Serif";
        color:#333333;
        ul{
            display: flex;
            flex-direction: row;
            li{
                font-size: var.$fontsize-M;
            }
            li+li{
                margin-left: 2.75vw;
            }
        }
    }
    &__hamburger-menu{
        display: none;
    }
}

.navigation{    
    visibility: hidden;
    position:fixed;
    top: 0;
    left:0;
    z-index: 10;
    width: 100vw;
    height:100vh;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    .nav-menu{
        padding: var.$spacing-7 var.$spacing-4;
        h2{
            font-size: 40px;
            font-family: "Inria Serif";
        }
        li+li{
            margin-top: var.$spacing-4;
        }
    }

}

.footer{
    border-top: 1px solid #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__menu{
        width: 50vw;
        margin: 8px auto;
        font-size: var.$fontsize-S;
        ul{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
        }
    }
    &__copyright{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #333333;
        small{
            color: #ffffff;
            margin: 0 auto;
        }
    }
}


@media screen and (max-width: 767px){
    .header{
        padding: var.$spacing-2 var.$spacing-4;
        &__menu{
            display: none;
        }
        &__hamburger-menu{
            display: flex;
            z-index:20;
            flex-direction: column;
            justify-content: center;
            align-items:end;
            width: var.$spacing-6;
            height: var.$spacing-6;
            border: 1.5px solid #333333;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &__line{
                height: 1px;
                width: 30px;
                background-color: #333333;
                margin: 4px 10px;
                transition: all 0.3s;
                transform-origin: right;
            }
            & > :nth-child(1){
                width: 20px;
            }
            & > :nth-child(2){
                width: 30px;
            }
            & > :nth-child(3){
                width: 40px;
            }
            
            //ボタンクリック時
            & > :nth-child(1).active{
                transform:rotate(-20deg) translate(-3px,1px);
                width: 40px;
            }
            & > :nth-child(2).active{
                width: 0;
            }
            & > :nth-child(3).active{
                transform:rotate(20deg) translate(-3px,-1px);
            }
        }
        &__hamburger-menu:hover{
            width:68px;
            height:68px;
            transform: translateX(3px);
        }
    }
    .navigation.active{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, transform 0.5s ease ;
    }

    .footer{
        &__menu{
            width: 80vw;
            margin: 8px auto;
            ul{
                display: flex;
                flex-direction: row;
                justify-content:space-around;
            }
        }
        &__copyright{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #333333;
            small{
                color: #ffffff;
                margin: 0 auto;
            }
        }
    }
}