//ヘッダー,フッター

// spacing
$spacing-0: 0;
$spacing-half: 4px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 48px;
$spacing-6: 64px;
$spacing-7: 96px;
$spacing-8: 128px;
$spacing-9: 192px;
$spacing-10: 256px;

//font-size
$fontsize-M:24px;


body {
    font-family:"Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", "Meiryo", sans-serif;
}

.header{
    position:fixed;
    background-color: aquamarine;
    width: 100%;
    height:$spacing-7;
    padding: $spacing-2 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition:all 0.3s ease-in-out;
    @media screen and (max-width:1000px) {
        padding: $spacing-2 $spacing-7;
    }
    &__logo{
        img{
            width: $spacing-6;
            height:$spacing-6;
        }
    }
    &__menu{
        font-family: "Inria Serif";
        color:#333333;
        ul{
            display: flex;
            flex-direction: row;
            li{
                font-size: $fontsize-M;
            }
            li+li{
                margin-left: 2.75vw;
            }
        }
    }
    &__hamburger-menu{
        display: none;
    }
}

.navigation{    
    visibility: hidden;
    position:fixed;
    top: 0;
    left:0;
    z-index: 10;
    width: 100vw;
    height:100vh;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    .nav-menu{
        padding: $spacing-7 $spacing-4;
        h2{
            font-size: 40px;
            font-family: "Inria Serif";
        }
        li+li{
            margin-top: $spacing-4;
        }
    }

}

main{
    widows: 100%;
    height: 600px;
}

.footer{
    border-top: 1px solid #333333;
    &__menu{
        width: 50vw;
        margin: 8px auto;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__copyright{
        width: 100%;
        display: flex;
        justify-content: center;
        small{
            margin: 0 auto;
        }
    }
}


@media screen and (max-width: 767px){
    .header{
        padding: $spacing-2 $spacing-4;
        &__menu{
            display: none;
        }
        &__hamburger-menu{
            display: flex;
            z-index:20;
            flex-direction: column;
            justify-content: center;
            align-items:end;
            width: $spacing-6;
            height: $spacing-6;
            border: 1.5px solid #333333;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &__line{
                height: 1px;
                width: 30px;
                background-color: #333333;
                margin: 4px 10px;
                transition: all 0.3s;
                transform-origin: right;
            }
            & > :nth-child(1){
                width: 20px;
            }
            & > :nth-child(2){
                width: 30px;
            }
            & > :nth-child(3){
                width: 40px;
            }
            
            //ボタンクリック時
            & > :nth-child(1).active{
                transform:rotate(-20deg) translate(-3px,1px);
                width: 40px;
            }
            & > :nth-child(2).active{
                width: 0;
            }
            & > :nth-child(3).active{
                transform:rotate(20deg) translate(-3px,-1px);
            }
        }
        &__hamburger-menu:hover{
            width:68px;
            height:68px;
            transform: translateX(3px);
        }
    }
    .navigation.active{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, transform 0.5s ease ;
    }
}