@use '../var';

.main-visual{
    width: 100vw;
    height:640px;
    padding-top:var.$spacing-7;
    background-color: aqua;//temp
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title{
        margin: auto auto;
        text-align: center;
        font-family: "Inria Serif";
        h1{
            font-size: var.$fontsize-L;
            margin-bottom: var.$spacing-2;
        }
        p{
            font-size: var.$fontsize-M;
        }
    }
}

