@use '../var';

.service{
    max-width: 1280px;
    margin:0 auto var.$spacing-8;
}

.service-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:var.$spacing-6;
    &__price{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    &__supplement{
        text-align: center;
        a{
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.price-detail{
    &__price{
        text-align: center;
        margin-bottom: var.$spacing-4;
        p{
            font-size: var.$fontsize-S;
            font-weight: bold;
        }
        h3{
            margin-top: var.$spacing-1;
            font-size: var.$fontsize_M;
            font-weight: bold;
        }
    }
    &__description{
        text-align: left;
        margin-bottom: var.$spacing-4;
        line-height: 1.5rem;
    }
    &__quantity{
        text-align: center;
        margin-bottom: var.$spacing-4;
        line-height: 1.5rem;
    }
    &__reference-site{
        text-align: center;
        margin-bottom: var.$spacing-4;
        p{
            margin-bottom: var.$spacing-1;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .site-image{
                transition: all 0.5s;
                &--left{
                    transform-origin: left bottom;
                }
                &--center{
                    transform-origin: center bottom;
                }
                &--right{
                    transform-origin: right bottom;
                }
            }
            .site-image:hover{
                transform: scale(3) translateY(0px);
                z-index: 10;
            }
        }
    }

}